<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.vocabulary.persistence.mappers.ConceptMapper">

  <resultMap id="CONCEPT_MAP" type="Concept" autoMapping="true">
    <id property="key" column="key"/>
    <result property="label" column="label" typeHandler="ValueByLanguageMapTypeHandler" />
    <result property="alternativeLabels" column="alternative_labels" typeHandler="ValueListByLanguageMapTypeHandler" />
    <result property="misspeltLabels" column="misspelt_labels" typeHandler="ValueListByLanguageMapTypeHandler" />
    <result property="definition" column="definition" typeHandler="ValueByLanguageMapTypeHandler" />
    <result property="externalDefinitions" column="external_definition_urls" typeHandler="UriArrayTypeHandler" />
    <result property="sameAsUris" column="same_as_uris" typeHandler="UriArrayTypeHandler" />
    <result property="editorialNotes" column="editorial_notes" typeHandler="StringArrayTypeHandler" />
  </resultMap>

  <sql id="CONCEPT_WRITE_FIELDS">
    vocabulary_key, parent_key, replaced_by_key, name, label, alternative_labels, misspelt_labels, definition,
    external_definition_urls, same_as_uris, editorial_notes, created_by, modified_by, created, modified
  </sql>

  <sql id="CONCEPT_PARAMS_CREATE">
    #{vocabularyKey,jdbcType=INTEGER},
    #{parentKey,jdbcType=INTEGER},
    #{replacedByKey,jdbcType=INTEGER},
    #{name,jdbcType=VARCHAR},
    #{label,jdbcType=OTHER,typeHandler=ValueByLanguageMapTypeHandler}::hstore,
    #{alternativeLabels,jdbcType=OTHER,typeHandler=ValueListByLanguageMapTypeHandler}::hstore,
    #{misspeltLabels,jdbcType=OTHER,typeHandler=ValueListByLanguageMapTypeHandler}::hstore,
    #{definition,jdbcType=OTHER,typeHandler=ValueByLanguageMapTypeHandler}::hstore,
    #{externalDefinitions,jdbcType=ARRAY,typeHandler=UriArrayTypeHandler},
    #{sameAsUris,jdbcType=ARRAY,typeHandler=UriArrayTypeHandler},
    #{editorialNotes,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    #{createdBy,jdbcType=VARCHAR},
    #{modifiedBy,jdbcType=VARCHAR},
    now(), <!-- created -->
    now() <!-- modified -->
  </sql>

  <sql id="CONCEPT_PARAMS_UPDATE">
    vocabulary_key = #{vocabularyKey,jdbcType=INTEGER},
    parent_key = #{parentKey,jdbcType=INTEGER},
    replaced_by_key = #{replacedByKey,jdbcType=INTEGER},
    name = #{name,jdbcType=VARCHAR},
    label = #{label,jdbcType=OTHER,typeHandler=ValueByLanguageMapTypeHandler}::hstore,
    alternative_labels = #{alternativeLabels,jdbcType=OTHER,typeHandler=ValueListByLanguageMapTypeHandler}::hstore,
    misspelt_labels = #{misspeltLabels,jdbcType=OTHER,typeHandler=ValueListByLanguageMapTypeHandler}::hstore,
    definition = #{definition,jdbcType=OTHER,typeHandler=ValueByLanguageMapTypeHandler}::hstore,
    external_definition_urls = #{externalDefinitions,jdbcType=ARRAY,typeHandler=UriArrayTypeHandler},
    same_as_uris = #{sameAsUris,jdbcType=ARRAY,typeHandler=UriArrayTypeHandler},
    editorial_notes = #{editorialNotes,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    created_by = #{createdBy,jdbcType=VARCHAR},
    modified_by = #{modifiedBy,jdbcType=VARCHAR},
    created = now(),
    modified = now(),
    deleted = null <!-- if we're updating it can't be deleted -->
  </sql>

  <sql id="SIMPLE_SEARCH">
    query @@ fulltext_search
  </sql>

  <insert id="create" useGeneratedKeys="true" keyProperty="key" keyColumn="key">
    INSERT INTO concept(<include refid="CONCEPT_WRITE_FIELDS"/>)
    VALUES(<include refid="CONCEPT_PARAMS_CREATE"/>)
  </insert>

  <update id="update">
    UPDATE concept
    SET <include refid="CONCEPT_PARAMS_UPDATE" />
    WHERE key = #{key,jdbcType=OTHER}
  </update>

  <update id="delete">
    UPDATE concept
    SET deleted = now()
    WHERE key = #{key,jdbcType=OTHER}
  </update>

  <select id="get" resultMap="CONCEPT_MAP">
    SELECT *
    FROM concept c
    WHERE c.key = #{key,jdbcType=OTHER}
  </select>

  <select id="list" resultType="Concept" resultMap="CONCEPT_MAP">
    SELECT *
    FROM concept c
    <if test="query != null" >
      JOIN to_tsquery('english',regexp_replace(unaccent(trim(#{query})),'\s+',':*&amp;')||':*') AS query ON <include refid="SIMPLE_SEARCH"/>
    </if>
    WHERE c.deleted IS NULL
    <if test="vocabularyKey != null">
      AND c.vocabulary_key = #{vocabularyKey}
    </if>
    <if test="parentKey != null">
      AND c.parent_key = #{parentKey}
    </if>
    <if test="replacedByKey != null">
      AND c.replaced_by_key = #{replacedByKey}
    </if>
    <if test="name != null">
      AND c.name = #{name}
    </if>
    ORDER BY <if test="query != null" >ts_rank_cd(c.fulltext_search, query) DESC, </if>c.created DESC, c.key
    <if test="page != null">
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="count" resultType="Long">
    SELECT COUNT(*)
    FROM concept c
    <if test="query != null" >
      JOIN to_tsquery('english',regexp_replace(unaccent(trim(#{query})),'\s+',':*&amp;')||':*') AS query ON <include refid="SIMPLE_SEARCH"/>
    </if>
    WHERE c.deleted IS NULL
    <if test="vocabularyKey != null">
      AND c.vocabulary_key = #{vocabularyKey}
    </if>
    <if test="parentKey != null">
      AND c.parent_key = #{parentKey}
    </if>
    <if test="replacedByKey != null">
      AND c.replaced_by_key = #{replacedByKey}
    </if>
    <if test="name != null">
      AND c.name = #{name}
    </if>
  </select>

  <select id="deleted" resultType="Concept" resultMap="CONCEPT_MAP" parameterType="Pageable">
    SELECT *
    FROM concept c
    WHERE c.deleted IS NOT NULL
    ORDER BY c.created DESC, c.key
    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="countDeleted" resultType="Long">
    SELECT count(*)
    FROM concept
    WHERE deleted IS NOT NULL
  </select>

  <select id="suggest" resultType="KeyNameResult">
    SELECT key, name
    FROM (
      (SELECT key, name FROM concept WHERE name ilike #{query}||'%' ORDER BY name LIMIT 20)
      UNION ALL
      (SELECT key, name FROM concept WHERE name ilike '%'||#{query}||'%' AND NOT name ilike #{query}||'%' ORDER BY name LIMIT 20)
    ) t1 LIMIT 20
  </select>

</mapper>