<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gbif.vocabulary.persistence.mappers.VocabularyMapper">

  <resultMap id="VOCABULARY_MAP" type="Vocabulary" autoMapping="true">
    <id property="key" column="key"/>
    <result property="externalDefinitions" column="external_definition_urls" typeHandler="UriArrayTypeHandler"/>
    <result property="editorialNotes" column="editorial_notes" typeHandler="StringArrayTypeHandler"/>
    <collection property="definition" column="key" select="listVocabularyDefinitions"/>
    <collection property="label" column="key" select="listVocabularyLabels"/>
  </resultMap>

  <resultMap id="KEY_NAME_RESULT_MAP" type="KeyNameResult" autoMapping="true">
    <id property="key" column="key"/>
    <collection property="labels" column="key" select="listVocabularyLabels"/>
  </resultMap>

  <resultMap id="LABEL_RESULT_MAP" type="Label" autoMapping="true">
    <id property="key" column="key"/>
    <result property="language" column="language" typeHandler="LanguageRegionTypeHandler"/>
  </resultMap>

  <resultMap id="DEFINITION_RESULT_MAP" type="Definition" autoMapping="true">
    <id property="key" column="key"/>
    <result property="language" column="language" typeHandler="LanguageRegionTypeHandler"/>
  </resultMap>

  <sql id="VOCABULARY_READ_FIELDS">
    v.key, v.namespace, v.name, v.external_definition_urls, v.editorial_notes, v.replaced_by_key,
    v.deprecated_by, v.deprecated, v.created_by, v.modified_by, v.created, v.modified
  </sql>

  <sql id="VOCABULARY_INSERT_FIELDS">
    namespace, name, external_definition_urls, editorial_notes, created_by, modified_by, created, modified
  </sql>

  <sql id="VOCABULARY_INSERT_PARAMS">
    #{namespace,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{externalDefinitions,jdbcType=ARRAY,typeHandler=UriArrayTypeHandler},
    #{editorialNotes,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    #{createdBy,jdbcType=VARCHAR},
    #{modifiedBy,jdbcType=VARCHAR},
    now(), <!-- created -->
    now() <!-- modified -->
  </sql>

  <sql id="VOCABULARY_PARAMS_UPDATE">
    namespace = #{namespace,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    external_definition_urls = #{externalDefinitions,jdbcType=ARRAY,typeHandler=UriArrayTypeHandler},
    editorial_notes = #{editorialNotes,jdbcType=ARRAY,typeHandler=StringArrayTypeHandler},
    modified_by = #{modifiedBy,jdbcType=VARCHAR},
    modified = now(),
    deprecated = null <!-- if we're updating it can't be deprecated -->
  </sql>

  <sql id="FULL_TEXT">
    JOIN to_tsquery('english_nostop',regexp_replace(unaccent(trim(quote_literal(#{params.query}))),'\s+',':*&amp;')||':*') AS query ON query @@ fulltext_search
    OR EXISTS(
    SELECT vd.key
    FROM vocabulary_definition vd
    WHERE vd.vocabulary_key = v.key AND query @@ vd.fulltext_search
    )
    OR EXISTS(
      SELECT vl.key
      FROM vocabulary_label vl
      WHERE vl.vocabulary_key = v.key AND query @@ vl.fulltext_search
    )
  </sql>

  <!-- QUERIES FROM HERE -->

  <insert id="create" useGeneratedKeys="true" keyProperty="key" keyColumn="key">
    INSERT INTO vocabulary(<include refid="VOCABULARY_INSERT_FIELDS"/>)
    VALUES(<include refid="VOCABULARY_INSERT_PARAMS"/>)
  </insert>

  <update id="update">
    UPDATE vocabulary
    SET
    <include refid="VOCABULARY_PARAMS_UPDATE"/>
    WHERE key = #{key,jdbcType=BIGINT} AND deprecated IS NULL
  </update>

  <select id="get" resultMap="VOCABULARY_MAP">
    SELECT
    <include refid="VOCABULARY_READ_FIELDS"/>
    FROM vocabulary v
    WHERE v.key = #{key,jdbcType=BIGINT}
  </select>

  <select id="getByName" resultMap="VOCABULARY_MAP">
    SELECT
    <include refid="VOCABULARY_READ_FIELDS"/>
    FROM vocabulary v
    WHERE v.name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="getKeyByName" resultMap="VOCABULARY_MAP">
    SELECT v.key
    FROM vocabulary v
    WHERE v.name = #{name,jdbcType=VARCHAR}
  </select>

  <select id="list" resultType="Vocabulary" resultMap="VOCABULARY_MAP">
    SELECT DISTINCT ON (<if test="params.query != null">ts_rank_cd(v.fulltext_search, query),</if> v.created, v.key)
    <include refid="VOCABULARY_READ_FIELDS"/>
    FROM vocabulary v
    <if test="params.query != null">
      <include refid="FULL_TEXT"/>
    </if>
    <if test="params.hasUnreleasedChanges != null">
      LEFT JOIN LATERAL (
        SELECT vr.created
        FROM vocabulary_release vr
        WHERE vr.vocabulary_key = v.key
        ORDER BY vr.created DESC
        LIMIT 1
      ) latestRelease ON true
      LEFT JOIN concept c ON c.vocabulary_key = v.key
    </if>
    <where>
      <if test="params.deprecated != null">
        v.deprecated IS <if test="params.deprecated">NOT</if> NULL
      </if>
      <if test="params.name != null">
        AND v.name = #{params.name}
      </if>
      <if test="params.namespace != null">
        AND v.namespace = #{params.namespace}
      </if>
      <if test="params.key != null">
        AND v.key = #{params.key}
      </if>
      <if test="params.hasUnreleasedChanges != null">
        <choose>
          <when test="params.hasUnreleasedChanges">
            AND (latestRelease IS NULL OR v.modified > latestRelease.created OR c.modified > latestRelease.created)
          </when>
          <otherwise>
            AND (latestRelease IS NOT NULL AND v.modified &lt;= latestRelease.created AND (c IS NULL OR c.modified &lt;= latestRelease.created))
          </otherwise>
        </choose>
      </if>
    </where>
    ORDER BY <if test="params.query != null">ts_rank_cd(v.fulltext_search, query) DESC,</if> v.created DESC, v.key
    <if test="page != null">
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="count" resultType="Long">
    SELECT COUNT(DISTINCT v.key)
    FROM vocabulary v
    <if test="params.query != null">
      <include refid="FULL_TEXT"/>
    </if>
    <if test="params.hasUnreleasedChanges != null">
      LEFT JOIN LATERAL (
        SELECT vr.created
        FROM vocabulary_release vr
        WHERE vr.vocabulary_key = v.key
        ORDER BY vr.created desc
        LIMIT 1
      ) latestRelease ON true
      LEFT JOIN concept c ON c.vocabulary_key = v.key
    </if>
    <where>
      <if test="params.deprecated != null">
        v.deprecated IS <if test="params.deprecated">NOT</if> NULL
      </if>
      <if test="params.name != null">
        AND v.name = #{params.name}
      </if>
      <if test="params.namespace != null">
        AND v.namespace = #{params.namespace}
      </if>
      <if test="params.key != null">
        AND v.key = #{params.key}
      </if>
      <if test="params.hasUnreleasedChanges != null">
        <choose>
          <when test="params.hasUnreleasedChanges">
            AND (latestRelease IS NULL OR v.modified > latestRelease.created OR c.modified > latestRelease.created)
          </when>
          <otherwise>
            AND (latestRelease IS NOT NULL AND v.modified &lt;= latestRelease.created AND (c IS NULL OR c.modified &lt;= latestRelease.created))
          </otherwise>
        </choose>
      </if>
    </where>
  </select>

  <select id="suggest" resultMap="KEY_NAME_RESULT_MAP">
    SELECT DISTINCT ON(key) key, name
    FROM (
      (SELECT key, name
      FROM vocabulary
      WHERE name ilike #{query}||'%' AND deprecated IS NULL
      ORDER BY name LIMIT 20
      )
    UNION ALL
      (SELECT key, name
      FROM vocabulary
      WHERE name ilike '%'||#{query}||'%' AND NOT name ilike #{query}||'%' AND deprecated IS NULL
      ORDER BY name LIMIT 20
      )
    UNION ALL
      (SELECT DISTINCT v.key, v.name
      FROM vocabulary v
      JOIN vocabulary_label vl ON vl.vocabulary_key = v.key
      WHERE vl.value ilike #{query}||'%' AND v.deprecated IS NULL
    <if test="lang != null">
      AND vl.language = #{lang}
    </if>
    LIMIT 20
    )
    UNION ALL
    (SELECT DISTINCT v.key, v.name
    FROM vocabulary v
    JOIN vocabulary_label vl ON vl.vocabulary_key = v.key
    WHERE vl.value ilike '%'||#{query}||'%' AND NOT vl.value ilike #{query}||'%' AND v.deprecated IS NULL
    <if test="lang != null">
      AND vl.language= #{lang}
    </if>
    LIMIT 20
    )
    ) t1 LIMIT 20
  </select>

  <select id="findSimilarities" resultType="KeyNameResult">
    SELECT DISTINCT ON(key) key, name
    FROM vocabulary
    <where>
      <if test="vocabularyKey != null">
        key != #{vocabularyKey}
      </if>
      AND normalize_name(name) = #{name,jdbcType=VARCHAR}
    </where>
    LIMIT 3
  </select>

  <update id="deprecate">
    UPDATE vocabulary
    SET deprecated = now(),
    deprecated_by = #{deprecatedBy,jdbcType=VARCHAR}
    <choose>
      <when test="replacementKey != null">
        ,replaced_by_key=#{replacementKey,jdbcType=BIGINT}
      </when>
      <otherwise>
        ,replaced_by_key=null
      </otherwise>
    </choose>
    WHERE key = #{key,jdbcType=BIGINT} AND deprecated IS NULL
  </update>

  <update id="restoreDeprecated">
    UPDATE vocabulary
    SET deprecated = null, deprecated_by = null, replaced_by_key = null
    WHERE key = #{key,jdbcType=BIGINT} AND deprecated IS NOT NULL
  </update>

  <select id="isDeprecated" resultType="Boolean">
    SELECT case when count(*) > 0 then 1 else 0 end
    FROM vocabulary
    WHERE key = #{key,jdbcType=BIGINT} AND deprecated IS NOT NULL
  </select>

  <delete id="delete">
    DELETE FROM vocabulary
    WHERE key = #{key,jdbcType=BIGINT}
  </delete>

  <!-- definition -->
  <insert id="addDefinition" useGeneratedKeys="true" keyProperty="definition.key" keyColumn="key">
    INSERT INTO vocabulary_definition(vocabulary_key, language, value, created_by, modified_by, created, modified)
    VALUES(#{entityKey,jdbcType=BIGINT},
    #{definition.language,jdbcType=VARCHAR,typeHandler=LanguageRegionTypeHandler},
    #{definition.value,jdbcType=VARCHAR},
    #{definition.createdBy,jdbcType=VARCHAR},
    #{definition.modifiedBy,jdbcType=VARCHAR},
    now(), <!-- created -->
    now() <!-- modified -->)
  </insert>

  <update id="updateDefinition">
    UPDATE vocabulary_definition
    SET value = #{definition.value,jdbcType=VARCHAR},
        modified_by = #{definition.modifiedBy,jdbcType=VARCHAR},
        modified = now()
    WHERE key = #{definition.key,jdbcType=BIGINT} AND vocabulary_key = #{entityKey,jdbcType=BIGINT}
  </update>

  <delete id="deleteDefinition">
    DELETE FROM vocabulary_definition
    WHERE key = #{key,jdbcType=BIGINT} AND vocabulary_key = #{entityKey,jdbcType=BIGINT}
  </delete>

  <select id="listDefinitions" resultType="Definition" resultMap="DEFINITION_RESULT_MAP">
    SELECT key, language, value, created_by, created, modified_by, modified
    FROM vocabulary_definition
    WHERE vocabulary_key = #{entityKey,jdbcType=BIGINT}
    <if test="langs != null">
      AND language IN
      <foreach item="item" collection="langs" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    ORDER BY created DESC
  </select>

  <select id="listVocabularyDefinitions" resultType="Definition" resultMap="DEFINITION_RESULT_MAP">
    SELECT key, language, value, created_by, created, modified_by, modified
    FROM vocabulary_definition
    WHERE vocabulary_key = #{entityKey,jdbcType=BIGINT}
    ORDER BY created DESC
  </select>

  <select id="getDefinition" resultType="Definition" resultMap="DEFINITION_RESULT_MAP">
    SELECT key, language, value, created_by, created, modified_by, modified
    FROM vocabulary_definition
    WHERE key = #{key,jdbcType=BIGINT} AND vocabulary_key = #{entityKey,jdbcType=BIGINT}
  </select>

  <!-- labels -->
  <sql id="LABEL_FIELDS">
    key, language, value, created_by, created
  </sql>

  <insert id="addLabel" useGeneratedKeys="true" keyProperty="label.key" keyColumn="key">
    INSERT INTO vocabulary_label(vocabulary_key, language, value, created_by, created)
    VALUES(#{entityKey,jdbcType=BIGINT},
           #{label.language,jdbcType=VARCHAR,typeHandler=LanguageRegionTypeHandler},
           #{label.value,jdbcType=VARCHAR},
           #{label.createdBy,jdbcType=VARCHAR},
           now()<!-- created -->)
  </insert>

  <delete id="deleteLabel">
    DELETE FROM vocabulary_label
    WHERE key = #{key,jdbcType=BIGINT} AND vocabulary_key = #{entityKey,jdbcType=BIGINT}
  </delete>

  <select id="listLabels" resultType="Label" resultMap="LABEL_RESULT_MAP">
    SELECT <include refid="LABEL_FIELDS"/>
    FROM vocabulary_label
    WHERE vocabulary_key = #{entityKey,jdbcType=BIGINT}
    <if test="langs != null">
      AND language IN
      <foreach item="item" collection="langs" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    ORDER BY created DESC
  </select>

  <select id="listVocabularyLabels" resultType="Label" resultMap="LABEL_RESULT_MAP">
    SELECT <include refid="LABEL_FIELDS"/>
    FROM vocabulary_label
    WHERE vocabulary_key = #{entityKey,jdbcType=BIGINT}
    ORDER BY created DESC
  </select>

</mapper>